interactions:
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:xY0fvXFIEXt5oBzXUVYQD+lcprU=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/account
  response:
    body: {string: '{"name":"Cuenca","balance":86944.26,"minimum_balance":0.0,"currency":"MXN"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"aa98852d8983d709f4ba4b8e3224fa08"]
    status: {code: 200, message: OK}
version: 1
