interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization:
      - APIAuth 88879c1b066dc9aea6201f27be2bbba9:Lq+PDpaJMv7SL1a7nK4YG90H5vc=
      Content-MD5:
      - PtZUYQ9bmh3ULNV0W7ZNdw==
      Content-Type:
      - application/json
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body:
      string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":"2019-09-03T00:00:00Z","balance":-10.0,"balance_currency":"MXN","balance_updated_at":"2019-09-03T05:04:58Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3f3cfec09b024c20400d335b2b965c5b"
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": -10.0, "currency": "MXN"}'
    headers:
      Authorization:
      - APIAuth 88879c1b066dc9aea6201f27be2bbba9:j/PuKp1691O+o4CUTjwJ8QZhFw8=
      Content-MD5:
      - mg1MPY2yXLf8n26ugdpxLw==
      Content-Type:
      - application/json
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body:
      string: '{"code":"R27","message":"Overdue Bill"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
