interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:xZJFXUikvs65HPKG7edKbEYdI0A=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":666.0,"balance_currency":"MXN","balance_updated_at":"2019-02-20T18:04:00Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"dd87d39290b1120f2cf381549ede60fd"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 666.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:uMxzKCEiwh3R28bhU5HixedBjXU=']
      Content-MD5: [4OEdDBquROlIXBhW3yavLA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48586,"amount":666.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":34.7,"transaction_fee":3.0,"total_usd":34.85,"hours_to_fulfill":24,"created_at":"2019-02-20T18:04:02Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"211e1cb7b0058d0db06e0d14a803ab63"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48586}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:LLTmV5l2vKAiI0znuw2HzsAYpqg=']
      Content-MD5: [tXn3KZUj4OqKJrIDviVuaw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:WEbg/zaJsw3DKQh2GQm662rT1jk=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=48586
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":48586,"amount":666.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":34.7,"transaction_fee":3.0,"total_usd":34.85,"hours_to_fulfill":24,"created_at":"2019-02-20T18:04:02Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"88dc55289d98449c69d465ea7d2989fb"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:SSKSsvnBkqY8VYVDHAvOsuMCz0M=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=48586
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":48586,"amount":666.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":34.7,"transaction_fee":3.0,"total_usd":34.85,"hours_to_fulfill":24,"created_at":"2019-02-20T18:04:02Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"4a3d10ed4c769d60d1962a9a0c8db0f2"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
