interactions:
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:s0EaJp8ovUn94z2E8549f5TQayU=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"bills":[{"type":"bill","id":8050,"biller_id":6500,"account_number":"98469204","name_on_account":"Mrs.
        Ceasar Bernier","due_date":"2018-06-19T00:00:00Z","balance":48.84,"balance_currency":"USD","balance_updated_at":"2018-06-06T17:27:09Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]},{"type":"bill","id":8053,"biller_id":6500,"account_number":"99946246","name_on_account":"Georgiana
        Wunsch II","due_date":"2018-06-23T00:00:00Z","balance":59.86,"balance_currency":"USD","balance_updated_at":"2018-06-06T17:33:40Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]},{"type":"bill","id":8054,"biller_id":6500,"account_number":"71219963","name_on_account":"Aletha
        Marks Jr.","due_date":"2018-06-10T00:00:00Z","balance":21.[...]
