interactions:
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:zuTJ2+9nDwN1ZrWDOj/VG+SuMA4=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/account
  response:
    body: {string: '{"name":"Cuenca","balance":9938505.22,"minimum_balance":0.0,"currency":"MXN"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c72e64f61a2b00787fdf04968166da01"]
    status: {code: 200, message: OK}
version: 1
