interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:ilgAeDGWHoxVrkA4By/zKPX8xhc=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":194.0,"balance_currency":"MXN","balance_updated_at":"2019-02-21T00:56:05Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"e9c3171a78f052dd964b5d323c80579b"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 194.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:KFCRBtLe3xvr0MINxQcbNE0UsXM=']
      Content-MD5: [Pb7gTa06vt7eJ3vKKO4U1Q==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48678,"amount":194.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":10.11,"transaction_fee":3.0,"total_usd":10.26,"hours_to_fulfill":24,"created_at":"2019-02-21T00:56:08Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"454b869d3a1cbb25ccbdbadfd68a5058"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48678}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Yg0d9pTj9ws2u9Ju766Tis+Y++w=']
      Content-MD5: [1I28/Y/MxnySEkzn7uxnUA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48679}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:C9/zQpR5jzdr8twbdMuKbM3kbM8=']
      Content-MD5: [Hgm0yAywJmPMtYNCJVmtkA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
