interactions:
- request:
    body: '{"biller_id": 1781, "account_number": "5599999999", "amount": 578.0, "currency":
      "MXN", "name_on_account": "Edward S. Burton"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:JcN7jf5znJCUgEd7h3dF2WUfeCg=']
      Content-MD5: [TRoUFJNDk1zDkJ+YkeRkow==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":48243,"external_id":null,"biller_id":1781,"account_number":"5599999999","bill_amount":578.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":29.77,"bill_amount_chain_currency":578.0,"payment_transaction_fee":3.0,"payment_total_usd":29.92,"payment_total_chain_currency":581.0,"chain_earned":3.0,"chain_paid":578.0,"starting_balance":86302.76,"ending_balance":85724.76,"hours_to_fulfill":48,"sms_text":null,"created_at":"2019-02-15T00:14:24Z","bill_amount_local_currency":578.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1550189664"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"62c093d29a95770874f57e036978907e"]
    status: {code: 201, message: Created}
version: 1
