interactions:
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:0nf+dCjYHEWAkC7DWjVrzoDifCI=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":34869,"amount":48.84,"amount_currency":"USD","fx_rate":1.0,"amount_usd":2.39,"transaction_fee":3.0,"total_usd":2.54,"hours_to_fulfill":72,"created_at":"2018-06-07T17:43:07Z","status":"fulfilled"},{"type":"transaction","id":34870,"amount":73.35,"amount_currency":"USD","fx_rate":1.0,"amount_usd":3.59,"transaction_fee":3.0,"total_usd":3.73,"hours_to_fulfill":72,"created_at":"2018-06-07T17:45:22Z","status":"fulfilled"},{"type":"transaction","id":34871,"amount":21.75,"amount_currency":"USD","fx_rate":1.0,"amount_usd":1.06,"transaction_fee":3.0,"total_usd":1.21,"hours_to_fulfill":72,"created_at":"2018-06-07T17:47:55Z","status":"fulfilled"},{"type":"transaction","id":34925,"amount"[...]
- request:
    body: '{"id": 34869}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:osg1MsbpgiT2yhI/4ktYjAl0uyc=']
      Content-MD5: [ocsyZ5MRM5Y2KyGQTni3Zg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
