interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:h1+1flocxMiIfCxdwAFfG+a7YKY=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":527.0,"balance_currency":"MXN","balance_updated_at":"2019-02-21T21:56:15Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"aa92383f0fc6bdd30e8551f63ea0a2ab"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 527.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Nm1EDi29iv5j0ujZ0nZr6kyu7Ss=']
      Content-MD5: [xEUcEf55V9uSgDI+2HH4MQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48750,"amount":527.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":27.4,"transaction_fee":3.0,"total_usd":27.56,"hours_to_fulfill":24,"created_at":"2019-02-21T21:56:16Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ba815680663e51f9b12556a8ff70a9f2"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48750}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:P7mEYbm+oo5o+5l4hDWNgX4Ybj4=']
      Content-MD5: [OcYuWz0ND1vku+ZjVG9Zqw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48751}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:paBQVsqhp6acy65HEAajp5PuwLI=']
      Content-MD5: [87dYZIHwKZCaPUTF0WM3oA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
