interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:sLdaVWzV0PBP94WM/dvN++iEqvU=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":949.0,"balance_currency":"MXN","balance_updated_at":"2019-02-20T23:45:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"38009d244c4c03b11bba40a7a0ddbea5"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 949.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:FbyIiKc5yBZ5AEA/KO2FjC4n0d8=']
      Content-MD5: [K3GJioYyHM5w9dGAkUY7pg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48670,"amount":949.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":49.44,"transaction_fee":3.0,"total_usd":49.6,"hours_to_fulfill":24,"created_at":"2019-02-20T23:45:26Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ba1d1813dc8373084a73f8a5a36de495"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48670}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:cWZH10G0AFDYZbJNT38sU6yV8WU=']
      Content-MD5: [lJbxO6AO1wNDjboYE9YoPA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:9CdYHcJo3/cBKK01hRnjSr77mUU=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":48672,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":28.6,"transaction_fee":3.0,"total_usd":28.76,"hours_to_fulfill":0,"created_at":"2019-02-20T23:45:31Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"93133d8312792cd249168377fc6a99d9"]
    status: {code: 201, message: Created}
version: 1
