interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:BlqcWV8WqA47m55CnvqfZ3lSh2Q=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":639.0,"balance_currency":"MXN","balance_updated_at":"2019-02-22T17:19:21Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"14251a3cea869d43ec31a671507cdac8"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 639.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Dbl3w5HQ+5huwkeWNSJmMHg6vaY=']
      Content-MD5: [Oy/xyH7PbGzAeR//yS+oGQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48775,"amount":639.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":33.16,"transaction_fee":3.0,"total_usd":33.32,"hours_to_fulfill":24,"created_at":"2019-02-22T17:19:22Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0b4b0f0b543cc86ab63f1685b41d7c50"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48775}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Y19pOKIOlg7XG4fPFMYEHRs3gJs=']
      Content-MD5: [Ql8A9xtd3czlIQTya5evvw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48776}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:IhhT6anzhylvdu3cukheDAhbr5w=']
      Content-MD5: [4/LRMBcOQygOJK1uFwo+Xw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
