interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:pdRsPs9sFwhIlrg8V+tZuoQ9lqE=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":361.0,"balance_currency":"MXN","balance_updated_at":"2019-02-22T18:08:24Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0f0fdf24e92bb8b63dcdd1422b43c1ac"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 361.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:AIan8w1fpxy/xn/NottDaJz8Hpw=']
      Content-MD5: [OOj9iXZU2vGQy6h3EZQVFg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48860,"amount":361.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":18.74,"transaction_fee":3.0,"total_usd":18.89,"hours_to_fulfill":24,"created_at":"2019-02-22T18:08:26Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"2d4080165f50859cff51d40b47fd5a43"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48860}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:FJTQD1+63yGbCNnlAn+PeaMmujE=']
      Content-MD5: [dE1HV45wXp8LQgdfTQ5Nog==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48861}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:NJzLq7FjZTQAFc5jAhArSZpcUuc=']
      Content-MD5: [ZFIA2aS5IoRZws58Ar6eew==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
