interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:V/x47XqoiMG3DA0lI2Ld8Yl5bYg=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-02-15T00:13:49Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6a31951a120c27635dd1c259ab26047b"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:QZbRvPJIHLARQy9CZSUDtlJAsYc=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/bills/8390
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-02-15T00:13:49Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6a31951a120c27635dd1c259ab26047b"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:K2XdtH090NKswzRk1QU7hPlEVkY=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":48240,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":28.27,"transaction_fee":3.0,"total_usd":28.43,"hours_to_fulfill":0,"created_at":"2019-02-15T00:13:50Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ef5e8f388123cc164f5f26f4649d9c43"]
    status: {code: 201, message: Created}
version: 1
