interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:QZn7cZn0zejWqkMIZBfZlc6eFS4=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":"2019-09-14T00:00:00Z","balance":558.0,"balance_currency":"MXN","balance_updated_at":"2019-07-21T15:54:21Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"01bde92423fa519b9951ecb9d062341b"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 558.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:jYe8dO/JQ+1e45oLlYiY904aqLg=']
      Content-MD5: [rLvh75pGsAPcR1CJIkj03g==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":69752,"amount":558.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":29.35,"transaction_fee":3.0,"total_usd":29.51,"hours_to_fulfill":24,"created_at":"2019-07-21T15:54:23Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"cb48669cb7dd50db7cb768268b48b558"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 69752}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Q87JPbRRBlBHxasWy5uMm16vHk0=']
      Content-MD5: [gTHDAg2r3bbjrnJoC7OD0w==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"7c9aab828943e845cc0d5431f05d00d0"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:vSpPMmgnQr8aGd5lUEGxsqc0WQc=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=69752
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":69752,"amount":558.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":29.35,"transaction_fee":3.0,"total_usd":29.51,"hours_to_fulfill":24,"created_at":"2019-07-21T15:54:23Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"967586dff2bb735497fe03db314ba90d"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 69753}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:mmTif7eSQb+iad5oGzy9Le59Doo=']
      Content-MD5: [HHeIuvJq9OjQ4FRtF+nCHQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
