interactions:
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:1tGfs/dR+XN6rHkgzznlEqhNRC8=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":34869,"amount":48.84,"amount_currency":"USD","fx_rate":1.0,"amount_usd":2.39,"transaction_fee":3.0,"total_usd":2.54,"hours_to_fulfill":72,"created_at":"2018-06-07T17:43:07Z","status":"fulfilled"},{"type":"transaction","id":34870,"amount":73.35,"amount_currency":"USD","fx_rate":1.0,"amount_usd":3.59,"transaction_fee":3.0,"total_usd":3.73,"hours_to_fulfill":72,"created_at":"2018-06-07T17:45:22Z","status":"fulfilled"},{"type":"transaction","id":34871,"amount":21.75,"amount_currency":"USD","fx_rate":1.0,"amount_usd":1.06,"transaction_fee":3.0,"total_usd":1.21,"hours_to_fulfill":72,"created_at":"2018-06-07T17:47:55Z","status":"fulfilled"},{"type":"transaction","id":34925,"amount"[...]
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:J0FY8UbURaVwBig0Qab8wdcr100=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=34869
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":34869,"amount":48.84,"amount_currency":"USD","fx_rate":1.0,"amount_usd":2.39,"transaction_fee":3.0,"total_usd":2.54,"hours_to_fulfill":72,"created_at":"2018-06-07T17:43:07Z","status":"fulfilled"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"79db0fea225ccbdfef30e4521fd6029b"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
