interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:rMCeZuJ4bd6S4LFiKrZDYdF/KmU=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":56.0,"balance_currency":"MXN","balance_updated_at":"2019-02-22T17:54:31Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"40ef865105338ce70a2d88d90fcfdaee"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 56.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:1HpaB6eb4sp1eZwoX329hD4jsqY=']
      Content-MD5: [rdbjwubSfYIGnp5/M07OMA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48835,"amount":56.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":2.91,"transaction_fee":3.0,"total_usd":3.06,"hours_to_fulfill":24,"created_at":"2019-02-22T17:54:33Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"41b094141198337d062fb8a1c19b5b84"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48835}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:EcWSXCwz6DoTdKwUfaF3m+5dO3I=']
      Content-MD5: [zPLN3ffFJGLJYmnAeJGfJw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48836}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:fzI8pORD33QH7R1yw2pKd1mZv/k=']
      Content-MD5: [x484+3ol67KyYifIylWDSA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
