interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "5599999999", "amount": 100.0, "currency":
      "MXN", "name_on_account": null}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:6mZ6BEic70aJF2XcSObDnE/8x6E=']
      Content-MD5: [gezFHl/YiK0K7SyixrATUQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":81346,"external_id":null,"biller_id":13599,"account_number":"5599999999","bill_amount":100.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":5.12,"bill_amount_chain_currency":100.0,"payment_transaction_fee":0.0,"payment_total_usd":5.12,"payment_total_chain_currency":100.0,"chain_earned":7.5,"chain_paid":92.5,"starting_balance":9938597.72,"ending_balance":9938505.22,"hours_to_fulfill":0,"sms_text":null,"created_at":"2019-09-25T23:47:51Z","bill_amount_local_currency":100.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1569455271"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"2446a1f328b3cfc7c984b8697b20835c"]
    status: {code: 201, message: Created}
version: 1
