interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:WguOQWy5xisfFrjykT1P17dXZCU=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-02-15T00:14:19Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"e2392f79756d8ac1fbdd46b24f02ff95"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:LMmK18y+IO+PaLJ9ZjdFMl3ugHc=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/bills/8390
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-02-15T00:14:19Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"e2392f79756d8ac1fbdd46b24f02ff95"]
    status: {code: 200, message: OK}
version: 1
