interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:M1T6buTnmV0zcfYdVCyhlJzEnEg=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":499.0,"balance_currency":"MXN","balance_updated_at":"2019-02-22T17:42:47Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"3c9c0bba248745b008164a01517c3f40"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 499.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:4kIeqguuEHs77M7sFz5pQKKkeQk=']
      Content-MD5: [VXI68Rjzh67rj8LSTL9KgA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48815,"amount":499.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":25.9,"transaction_fee":3.0,"total_usd":26.05,"hours_to_fulfill":24,"created_at":"2019-02-22T17:42:48Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"860b903106e0cbf0cee02807bb54402c"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48815}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:79jB/mZ1Yd7+GKl0FzNeSkvCAB8=']
      Content-MD5: [94Lt241VmJ7q461RNg3Fmw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": 48816}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Kpn4OXPqZj/dDEhYIKHzZapjbV0=']
      Content-MD5: [ZuQgmpbA+SMNNTqcSRGlog==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R26","message":"Reversal not supported for this biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
