interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Cz67hkhX/XCGgb6r3TVOqtqjgM0=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":228.0,"balance_currency":"MXN","balance_updated_at":"2019-02-15T00:13:52Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"b03b50aa8bca8dcbdfcfc81acc5a6650"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 228.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:AtIhzcVHHfJs2WSMFdkgFjOuRNo=']
      Content-MD5: [Je7Og7Cjf5tru5MR1zrNfA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":48241,"amount":228.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":11.74,"transaction_fee":3.0,"total_usd":11.9,"hours_to_fulfill":24,"created_at":"2019-02-15T00:13:54Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"fbc57339c266c4f5790145b266e238c5"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 48241}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:XM9aPR0J27gxlptNaFiC19VJCi4=']
      Content-MD5: [RQrI9xj8Y/71LzWfwRbg1g==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Jj+FsyBPG+K70cNNoTh7kmLCEo4=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=48241
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":48241,"amount":228.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":11.74,"transaction_fee":3.0,"total_usd":11.9,"hours_to_fulfill":24,"created_at":"2019-02-15T00:13:54Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"71d593c4963643591209923fc9412cc8"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
